<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.itelearn.dataProviders.dataSetsTest"/>
      <class name="com.itelearn.Utility.ExcelUtilityTest"/>
      <class name="com.itelearn.TestBase.BaseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
